body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    overflow: hidden;
    position: relative;
    background: #333;
}

.container {
    text-align: center;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 96px;
    margin: 0;
    color: #ff5252;
}

p {
    font-size: 24px;
    color: #b0bec5;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff5252;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #ff1744;
}

/* Fondo de imágenes cambiantes */
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    opacity: .5;

    filter: blur(5px);
}



.buscador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.search-container {
    position: relative;
    /* width: 100%;
    max-width: 300px; */
}

#searchInput {
    width: 30%;
    padding: 10px 40px 10px 20px;
    background: #ffffff9d;
    border: none;
    backdrop-filter: blur(15px);
    border-radius: 25px;

    font-size: 16px;
    transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#searchInput:hover {
    width: 40%;

}

#searchInput:focus {
    width: 75%;

    border: none;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #fff;
}

#searchResults {
    position: absolute;
    top: calc(80% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background: #ffffffb6;
  padding: 10px 0;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    display: none;
    box-shadow: 0 2px 10px rgba(5, 13, 27, 0.277);
    opacity: 0;
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    max-height: 0;
    overflow-y: hidden;
    z-index: 10;
   
}

#searchResults.show {
    display: block;
    opacity: 1;
    max-height: 200px;

}

#searchResults a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    transition: .3s ease;


}

#searchResults a:hover {
    background: #c5d6fe;
}

#searchResults a:last-child {
    border-bottom: none;
}

.content {
margin: 0;
}

.blur-background {
    filter: blur(5px);
    transition:  0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0);
    z-index: 5;
    display: none;
}



@keyframes subir {
    form{
        transform: translateX(15px);  
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
} 