/* Reset y estilos básicos */


html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    /* background: #06151c; */
      background: #06151c;
}

/* Estilos de la cabecera */
.header {
    position: relative;
    display: flex;
    flex-direction: column;
}

.cookie-banner {
    border-top: solid 1px #ffffff3b;
    border-radius: 15px 15px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba( 18, 18, 18, 0.4 );
  
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #fff;
    text-align: center;
    padding: 15px;
    display: none; /* Ocultar por defecto */
    z-index: 9999;
    h6{
        font-family: "Comfortaa", sans-serif;
    }
  }


  .cookie-banner button {
    background-color: #4CAF50;
    filter: brightness(100%);
    border-radius: 25px;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .cookie-banner button:hover {
    background-color: #45a049;
    box-shadow: 0 0 28px #6ed673;
    filter: brightness(150%);
  }
  

/* Estilos de la barra de navegación */
.navbar {
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;


}

.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #06151c, transparent );
    pointer-events: none;
    z-index: -1;
}

.navbar a {
    text-decoration: none;
    color:  #ececec;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.logo img {
    max-width: 300px;
    height: auto;
    filter: brightness(100);
}













.buscador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 5%;
    position: relative;
}

.search-container {
    position: relative;
}

#searchInput {
    width: 30%;
    padding: 10px 40px 10px 20px;
    background: rgba(255, 255, 255, 0.651);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border: none;
    border-radius: 25px;
    font-size: 16px;
    transition: width 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#searchInput:hover {
    width: 40%;
}

#searchInput:focus {
    width: 75%;
    outline: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #fff7f7;
}

#searchResults {
    scrollbar-width: none;
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    transform: translate(-50%, 0); /* Centra horizontalmente */
    background: rgba(255, 255, 255, 0.781);
    border-radius: 15px;
    width: 100%;
    max-width: 350px;
    display: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.4s ease, max-height 0.4s ease;
    max-height: 0;
    overflow-y: hidden;
    z-index: 10;
    padding: 10px 15px;

}

#searchResults.show {
    display: block;
    opacity: 1;
    max-height: 250px;
    overflow-y: auto;
}

#searchResults a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Agregada animación de transformación */
}

#searchResults a:hover {
    background: #c5d6fe;
    transform: scale(1.05); /* Añadido efecto de escalado al pasar el cursor */
}

#searchResults .no-results {
    padding: 10px;
    text-align: center;
    color: #666;
}

.blur-background {
    filter: blur(5.5px);
    -webkit-filter: blur(5.5px);
    transition: filter 0.4s ease;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.418);
    z-index: 5;
    display: none;
}








@keyframes subir {
    form{
        transform: translateX(15px);  
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
} 



.menu-icon {
    display: none;
    font-size: 30px;
    color:  #ececec;
    cursor: pointer;
}






.slider{
    height: 100vh;
    color:  #ececec;

    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #06151c 30%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 99px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
    transform: translateY(95px);

}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 100px;
    height: 140px;
    filter: brightness(.5) blur(1px);
    transition: .5s;
    flex-shrink: 0;
    scale: 0.8;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1) blur(0);
    scale: 1;
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}








.mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}


.mapa  iframe {
    border-radius: 15px;
    height: 550px;
    width: 1050px;
    box-shadow: 0 0 25px #02060865;
}










/* mas contenido */


.conatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    
    gap: 50px;
}


.container1escuela{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 40px;

}

.botoncontainer1 {
    background: #fc3f29;
    border: solid 2px #fc3f29;
    padding: 10px 30px;
    border-radius: 25px;
    transform: translateY(10px);
    transition: .3s ease-in-out;
}

.botoncontainer1:hover {
    background: transparent;
    padding: 10px 33px;
    border-radius: 25px;
    border: solid 2px #a22b25;
    transform: translateY(10px);
}


.h1yp {

    color: #ececec;
    gap: 10px;
    position: sticky;
    top: 10px;
    h1{
        font-size: 85px;
    }
    
    p{
        transform: translateY(-29px);
        margin-bottom: 10px;
    }
   


}

.h1yp a {
    text-decoration: none;
    color: #eee;
    transform: translateY(10px);
}


.imagen1 img {
    max-width: 300px;
    border-radius: 15px;   
}


@keyframes show {
    from{
        opacity: 0;
        scale: 25%;


        /* filter: blur(99px); */


    }

    to {
        opacity: 1;
        scale: 100%;



    }
}

.container1escuela {
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
    
}







.container-ipad {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 800px;
}


.container-ipad h1 {
    color: #fff;
    font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  scale: 5;
  view-timeline-name: --image;
  view-timeline-axis: block ;
  animation-timeline: --image;
  animation-name: title;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

@keyframes title {
    from {
        transform: translateY(-20px);

    }

    to {
        transform: translateY(0px);
    }
}


.ipad img {
    max-width: 150px;
    scale: 9;
    z-index: 999;
    transform: translateY(15px);
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: start;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;

}


@keyframes start {
    from{

        scale: 12;
        transform: perspective(85px) rotateX(50deg) translateY(15px);

  
  
  
  
  
  
    }
  
    to {
        scale: 8;
        transform: perspective(1085px) rotateX(0deg) translateY(30px);


  
  
  
    }
  }


  .container-ipad a {
    color: #eee;
    text-decoration: none;
    padding: 10px 50px;
    background-color: #4CAF50;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: ancla;
    animation-range: entry 80% cover 100%;
    animation-fill-mode: both;
    transform: translateY(0px);
    z-index: -99;
  }



  @keyframes ancla {
    from {
        transform: translateY(0px);
        color: #000;

    }

    to {
        transform: translateY(505px);
        color: #ececec;
        border-radius: 25px;
        z-index: 99;
    }
}









.disipulado-container-scroll {

    background: url(../img/fondo-disipulado.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 158px 0px;
}


.titulo h1 {
    color: #fff;
    font-size: 88px;
    text-shadow: 0 3px #1f1f20;
 scale: 1.5;
    


}


.fotos-disipulados-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.boton-disipulados a {
     text-decoration: none;
     color: #eee;
     background: #000;
     padding: 10px 45px;
     border-radius: 15px;
     cursor: pointer;
     transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
     backdrop-filter: blur(85px);
}

.boton-disipulados a:hover {
    padding: 10px 65px;
    background: #000000af;
    backdrop-filter: blur(85px);

}


.linea-1 {
    display: flex;
    flex-direction: row;
    gap: 250px;
}

.linea-2 {
    display: flex;
    flex-direction: row;
    gap: 250px;
}

.linea-3 {
    display: flex;
    flex-direction: row;
    gap: 250px;
}






.fotos-disipulados {
    width: 100px;
    height: 100px;
    background: url(../img/img\ 13.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scale: 5;
}








.hoarios {
    display: flex;

    flex-direction: column;
}


.titulo-container-horarios {
    display: flex;
    justify-content: end;
}


.titulo-horario {
    margin-right: 5%;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: titulo-hs;
    animation-range: entry 80% cover 50%;
    animation-fill-mode: both;
}

.titulo-horario h2 {
    font-size: 45px;
    transform: translateX(5%);
    color: #F4B446;
}

.titulo-horario h1 {
    font-size: 155px;
    color: transparent;
    transform: translateY(-125px);
    -webkit-text-stroke: 2px #F4B446;

}



@keyframes titulo-hs {
    from {
        scale: .4;
        opacity: 0;
    }

    to {
        scale: 1;
    }
}

.horarios-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -9%;
    margin-bottom: 15%;
    flex-direction: column;
    gap: 25px;
}

.marco-hs {
    display: flex;
    background: #0f2631;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 25px;
    padding: 10px;
    height: 50px;
    width: 600px;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 5px 5px #030b0f4d;
    transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 80% cover 50%;
    animation-fill-mode: both;
    
}


.marco-hs:hover {
    height: 50px;
    width: 700px;
    gap: 35px;
}


@keyframes marco-hs  {
    from {
        scale: .4;
        box-shadow: 0 0px 5px #030b0f7c;
        opacity: 0;
    }

    to {
        scale: 1;
    }
}



/* Estilos para pantallas pequeñas */
@media (max-width: 490px) {
    

    .navbar {
        position: absolute;
        flex-direction: row;
        align-items: flex-start;
        background: #06151c00;
    }

    .logo img {
        max-width: 100px;
        height: auto;
        filter: brightness(100);
        content: url(../img/logo.png);
        display: none;
    }




    .buscador {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 60%;
    }
    
    
    
    
    .search-container {
        position: relative;
        
        /* width: 100%;
        max-width: 300px; */
    }
    
    #searchInput {
        width: 130%;
        padding: 10px 40px 10px 20px;
        background: #ffffff9d;
        border: none;
        backdrop-filter: blur(15px);
        border-radius: 25px;

        font-size: 16px;
        transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    
    #searchInput:hover {
        width: 145%;
    
    }
    
    #searchInput:focus {
        width: 200%;
    
        border: none;
        outline: none;
    }
    
    .search-icon {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        color: #ffffff00;
    }
    
    #searchResults {
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-60%);
        background: #ffffffb6;
      padding: 10px 0;
        border-radius: 10px;
        width: 100%;
        max-width: 300px;
        display: none;
        box-shadow: 0 2px 10px rgba(5, 13, 27, 0.277);
        opacity: 0;
        transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        max-height: 0;
        overflow-y: hidden;
        z-index: 10;
        animation: subir .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
    }
    
    #searchResults.show {
        display: block;
        opacity: 1;
        max-height: 200px;
    
    }
    
    #searchResults a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: #333;
        transition: .3s ease;
    
    
    }
    
    #searchResults a:hover {
        background: #c5d6fe;
    }
    
    #searchResults a:last-child {
        border-bottom: none;
    }
    
    .content {
    margin: 0;
    }
    
    .blur-background {
        filter: blur(5px);
        transition:  0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    
    .blur-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(27, 27, 27, 0);
        z-index: 5;
        display: none;
    }
    
    
    
    @keyframes subir {
        form{
            transform: translateX(15px);  
            opacity: 0;
        }
    
        to {
            transform: translateX(0);
            opacity: 1;
        }
    } 
    






    .menu-icon {
        display: block;
    }

    
.slider{
    height: 100vh;
    color:  #ececec;

    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #06151c 30%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 99px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    display: none;
    opacity: 0;
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 1px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
    transform: translateY(95px);
    
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 100px;
    height: 140px;
    filter: brightness(.5) blur(1px);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1) blur(0);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}






@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}




    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: scaleY(0);
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
    }

    .nav-links a {
        margin: 10px 0;
        width: 100%;
        text-align: left;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    .nav-links.show {
        max-height: 500px; 
        opacity: 1;
        transform: scaleY(1);
        transition: max-height 0.3s ease-in, opacity 0.3s ease-in, transform 0.3s ease-in;
    }



    .thumbnail:nth-child(1),   .thumbnail:nth-child(2),   .thumbnail:nth-child(3){
        display: flex;
    }


    /* mas contenidoooooooooooooooooooooooooo */


    

.conatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    
    gap: 5px;
}


.container1escuela{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;

}

.botoncontainer1 {
    background: #fc3f29;
    border: solid 2px #fc3f29;
    padding: 10px 30px;
    border-radius: 25px;
    transform: translateY(10px);
    transition: .3s ease-in-out;
}

.botoncontainer1:hover {
    background: transparent;
    padding: 10px 33px;
    border-radius: 25px;
    border: solid 2px #a22b25;
    transform: translateY(10px);
}


.h1yp {

    color: #ececec;
    gap: 10px;
    position: sticky;
    top: 10px;
    h1{
        font-size: 25px;
    }
    
    p{
        transform: translateY(-29px);
        margin-bottom: 10px;
        font-size: 15;
    }
   


}

.h1yp a {
    text-decoration: none;
    color: #eee;
    transform: translateY(10px);
}


.imagen1 img {
    max-width: 100px;
    border-radius: 15px;   
}


@keyframes show {
    from{
        opacity: 0;
        scale: 25%;


        /* filter: blur(99px); */


    }

    to {
        opacity: 1;
        scale: 100%;



    }
}

.container1escuela {
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
    
}







.container-ipad {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 180px;
}


.container-ipad h1 {
    color: #fff;
    font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  scale: 1.5;
  view-timeline-name: --image;
  view-timeline-axis: block ;
  animation-timeline: --image;
  animation-name: title;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

@keyframes title {
    from {
        transform: translateY(0px);

    }

    to {
        transform: translateY(0px);
    }
}


.ipad img {
    max-width: 50px;
    scale: 1;
    z-index: 999;
    margin: -500px 0px 50px 0px;
    transform: translateY(15px);
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: start;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;

}


@keyframes start {
    from{

        scale: 12;
        transform: perspective(85px) rotateX(50deg) translateY(3px);

  
  
  
  
  
  
    }
  
    to {
        scale: 8;
        transform: perspective(1085px) rotateX(0deg) translateY(13px);


  
  
  
    }
  }


  .container-ipad a {
    color: #eee;
    text-decoration: none;
    padding: 10px 50px;
    background-color: #4CAF50;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: ancla;
    animation-range: entry 20% cover 50%;
    animation-fill-mode: both;
    transform: translateY(0px);
    z-index: -99;
  }



  @keyframes ancla {
    0% {
        transform: translateY(0px);
        color: #000;
        opacity: 0;

    }

    80% {
        transform: translateY(100px);
        color: #ececec;
        border-radius: 25px;
        opacity: 0;
       
    }

    100% {
        transform: translateY(150px);
        z-index: 99;
        border-radius: 25px;
        opacity: 1;
    }
}









.disipulado-container-scroll {

    background: url(../img/fondo-disipulado.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 158px 0px;
}


.titulo h1 {
    color: #fff;
    font-size: 28px;
    text-shadow: 0 3px #1f1f20;
 scale: 1.5;
    


}


.fotos-disipulados-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.boton-disipulados a {
     text-decoration: none;
     color: #eee;
     background: #000;
     padding: 10px 45px;
     border-radius: 15px;
     cursor: pointer;
     transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
     backdrop-filter: blur(85px);
}

.boton-disipulados a:hover {
    padding: 10px 65px;
    background: #000000af;
    backdrop-filter: blur(85px);

}


.linea-1 {
    display: flex;
    flex-direction: row;
    gap: 250px;
}

.linea-2 {
    display: flex;
    flex-direction: row;
    gap: 250px;
}

.linea-3 {
    display: flex;
    flex-direction: row;
    gap: 250px;
}






.fotos-disipulados {
    width: 100px;
    height: 100px;
    background: url(../img/img\ 13.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scale: 5;
}








.hoarios {
    display: flex;

    flex-direction: column;
}


.titulo-container-horarios {
    display: flex;
    justify-content: end;
}


.titulo-horario {
    margin-right: 5%;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: titulo-hs;
    animation-range: entry 80% cover 50%;
    animation-fill-mode: both;
}

.titulo-horario h2 {
    font-size: 45px;
    transform: translateX(5%);
    color: #F4B446;
}

.titulo-horario h1 {
    font-size: 50px;
    color: transparent;
    transform: translateY(-45px);
    -webkit-text-stroke: 1px #F4B446;

}



@keyframes titulo-hs {
    from {
        scale: .4;
        opacity: 0;
    }

    to {
        scale: 1;
    }
}

.horarios-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -9%;
    margin-bottom: 15%;
    flex-direction: column;
    gap:1 px;
}

.marco-hs {
    display: flex;
    background: #0f2631;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 25px;
    padding: 10px;
    height: 60px;
    width: 600px;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 5px 5px #030b0f4d;
    transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 80% cover 50%;
    animation-fill-mode: both;
    margin-bottom: -15%;
    
    
}


.marco-hs:hover {
    height: 50px;
    width: 700px;
    gap: 35px;
}


@keyframes marco-hs  {
    from {
        scale: 0;
        box-shadow: 0 0px 5px #030b0f7c;
        opacity: 0;
    }

    to {
        scale: 0.5;
    }
}



/* foooteer aaa */


.thumbnail:nth-child(4),  .thumbnail:nth-child(5){
    display: none;
}




footer {
background: #030303;
padding: 25px;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;


}

.titulo-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.titulo-footer h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    color: #ff0000;
    font-size: 8px;
    scale: 6;
}


.titulo-footer p {
    color: #fff;
    font-size: 15px;

}


.footer-nav {
    margin-top: 50px;
    display: flex;
    gap: 25px;
}

.footer-nav a {
    text-decoration: none;
    color: #fff;
}


.social-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-titulo h3 {
    color: #ff000070;
    font-size: 15px;
}


.social-footer {
    display: flex;
    padding: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: solid 1px #ffffff48;
}

.social-footer a {
    text-decoration: none;
}

.social-footer a img {
    max-width: 50px;
    filter: invert(1);
    transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.social-footer a img:hover {
    max-width: 20px;
    filter: invert(1);
    scale: 1.2;
}


.creditos {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.creditos h3 {
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    opacity: 0.5;

}

.creditos a {
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    opacity: 0.5;

}



}
















.thumbnail:nth-child(4),  .thumbnail:nth-child(5){
    display: none;
}




footer {
background: #030303;
padding: 25px;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;


}

.titulo-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.titulo-footer h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 8px;
    scale: 6;
}


.titulo-footer p {
    color: #fff;
    font-size: 15px;

}


.footer-nav {
    margin-top: 50px;
    display: flex;
    gap: 25px;
}

.footer-nav a {
    text-decoration: none;
    color: #fff;

}


.social-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-titulo h3 {
    color: #ffffff70;
}


.social-footer {
    display: flex;
    padding: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: solid 1px #ffffff48;
}

.social-footer a {
    text-decoration: none;
}

.social-footer a img {
    max-width: 50px;
    filter: invert(1) brightness(100%) drop-shadow(0 0 0px #ffffff);
    transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: .8;
    
}


.social-footer a img:hover {
    max-width: 50px;
    filter: invert(1) brightness(150%) drop-shadow(0 0 15px #ffffff9d);
    scale: 1.2;
    opacity: 1;
}


.creditos {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.creditos h3 {
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    opacity: 0.5;

}

.creditos a {
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    opacity: 0.5;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: brightness(100%);
    text-shadow: 0 0 0 #fff;

}

.creditos a:hover {
    color: #ffffff;
    font-weight: 100;
    font-size: 15px;
    opacity: 1;
    filter: brightness(150%);
    text-shadow: 0 0 24px #fff;

}






