
html {
    scrollbar-width: none;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #06151c;

}

/* Estilos de la cabecera */
.header {
    position: relative;
    display: flex;
    flex-direction: column;

}

.parallax-container {
    transform: translateY(-249px);
    position: relative;
    width: 100%;
    height: 1300px;
    perspective: 1000px;
    overflow: hidden;
}

.parallax-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; 
    transition: transform .1s ease-out;
}

#layer1 {
    z-index: -1;
    transition: transform .3s ease-out;
}

#layer2 {
    z-index: -2;
    transition: transform .3s ease-out;
}

#layer3 {
    z-index: -3;
    transition: transform .3s ease-out;
}

#layer4 {
    z-index: -4;
    transition: transform .3s ease-out;
}

.parallax-layer img {
    display: block;
    width: 100%;
    height: auto;
}

.parallax-layer h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 155px;
    color: #ffffffde;

    text-align: center;
    transform: translateY(-55px);

    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    mix-blend-mode: screen;

}

/* Estilos de la barra de navegación */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    transform: translateY(-45px);

}




.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.logo img {
    max-width: 300px;
    height: auto;
    filter: brightness(100);
}

#profile {
    text-align: center;
}

#avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: solid 3px #fff;
}

.grid-container {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    
    "a b c"
    "d b e"
    
    ;
    transform: translateY(-450px);
}

.grid-item {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    background: url(../img/img\ 18.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}



.grid-item:hover {
    transform: translateY(-15px);
}



.grid-item:nth-child(1) {
    grid-area: a;
    transform: translateX(95px);
}

.grid-item:nth-child(1):hover {
    transform: translateX(95px) translateY(-15px);
}
.grid-item:nth-child(2) {
    grid-area: b;
    width: 350px;
    height: 750px;
    background: url(../img/img\ 8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}
.grid-item:nth-child(3) {
    grid-area: c;
    width: 300px;
    height: 350px;
    background: url(../img/img\ 41.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-item:nth-child(4) {
    grid-area: d;
    width: 350px;
    height: 300px;
    background: url(../img/img\ 14.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-item:nth-child(5) {
    grid-area: e;

    background: url(../img/img\ 40.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-200px);

}

.titulo {
    display: flex;
    text-align: center;
    font-size: 74px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    color: #ececec;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 0% cover 40%;
    animation-fill-mode: both;

}



.parrafos {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    column-gap: 20px;
    row-gap: 20px;
}


.parrafos p {
    opacity: .7;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 0% cover 30%;
    animation-fill-mode: both;
}


@keyframes marco-hs  {
    from {
        scale: .4;
        box-shadow: 0 0px 5px #030b0f7c;
        opacity: 0;
    }

    to {
        scale: 1;
    }
}


.titulo-container-horarios {
    display: flex;
    justify-content: center;

    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 0% cover 50%;
    animation-fill-mode: both;
    margin-bottom: -220px;
}


.titulo-horario {
 color: #ececec;

}

.titulo-horario h2 {
    font-size: 45px;
    transform: translateX(5%);
    color: #F4B446;
}

.titulo-horario h1 {
    font-size: 155px;
    scale: 1;
    color: transparent;
    transform: translateY(-125px);
    -webkit-text-stroke: 2px #F4B446;

}



.misionyvision {
    display: flex;
    justify-content: center;
    align-items: center;
    .parrafos {
        text-align: center;
    }

    .parrafos p {
        view-timeline-name: --image;
        view-timeline-axis: block ;
        animation-timeline: --image;
        animation-name: marco-hs;
        animation-range: entry 0% cover 50%;
        animation-fill-mode: both;
    }



}


.ministerios {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    background: #0f2631;
    box-shadow: 0 5px 5px #030b0f4d;
    perspective: 1000px;
    margin: 20px;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 0% cover 50%;
    animation-fill-mode: both;
    z-index: 999;
    
  
  }

  .card h1 {
    color: #fff;
  }
  
  .content {
    width: 350px;
    height: 200px;
    background: url(../img/img\ 28.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .content h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .content p {
    margin: 10px 0 0;
    font-size: 16px;
  }
  
  .content img   {
    max-width: 40px;
    scale: 2;
  }
  
  .card:hover .content {
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));

  
  }
  

  .content:hover {
    scale: 1.2;
  }


  .contedido-ministerios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    column-gap: 20px;
    row-gap: 20px;
  }


  .ministerio-sector {
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 0% cover 50%;
    animation-fill-mode: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    background: #0f2631;
    box-shadow: 0 5px 5px #030b0f4d;
    border: 4px solid #03030300;
    color: #fff;
    transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }



  .ministerio-sector:last-child{
    transform: translateX(50%);
  }

  
  .ministerio-sector:hover{
    border: 4px solid #06151c;
    box-shadow: 0 0 0 #030b0f00;
  }




  .imagen-mn {
    width: 500px;
    height: 300px;

    background-position: center;
    background-size: cover;
    border-radius: 15px;
  }


  .imagen-mn img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }




  footer {
    background: #030303;
    padding: 25px;
    margin-top: 15%;
    }
    
    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
    
    
    }
    
    .titulo-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    
    
    .titulo-footer h1 {
        font-family: "Anton", sans-serif;
        font-weight: 400;
        color: #fff;
        font-size: 8px;
        scale: 6;
    }
    
    
    .titulo-footer p {
        color: #fff;
        font-size: 15px;
    
    }
    
    
    .footer-nav {
        margin-top: 50px;
        display: flex;
        gap: 25px;
    }
    
    .footer-nav a {
        text-decoration: none;
        color: #fff;
    }
    
    
    .social-titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .social-titulo h3 {
        color: #ffffff70;
    }
    
    
    .social-footer {
        display: flex;
        padding: 15px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        border-bottom: solid 1px #ffffff48;
    }
    
    .social-footer a {
        text-decoration: none;
    }
    
    .social-footer a img {
        max-width: 50px;
        filter: invert(1);
        transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    
    .social-footer a img:hover {
        max-width: 50px;
        filter: invert(1);
        scale: 1.2;
    }
    
    
    .creditos {
        margin-top: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .creditos h3 {
        color: #fff;
        font-weight: 100;
        font-size: 15px;
        opacity: 0.5;
    
    }
    
    .creditos a {
        color: #fff;
        font-weight: 100;
        font-size: 15px;
        opacity: 0.5;
    
    }
    
    
    
    